<h2>Repositories</h2>

<button onclick=onCalc()>Calc</button>
<button onclick=onRepositories()>Repositories</button>

<h2>Filter</h2>
<div class="filter">
    <Input
            value=@searchState.query
            onenter=searchState.navigate
            placeholder="{{#if @state.calc}}Inactive github filter{{else}}Github filter{{/if}}"
    />
</div>

<h2>Content</h2>

{{#if @state.calc}}
    <Input value=@calc.a />
    <Input value=@calc.b />

    {{@calc.a}} + {{@calc.b}} = {{@calc.sum}}
{{else}}
    <Select collection=repositories.update value=@calc.select textFrom="full_name" valueFrom="full_name" />

    <div class="table">
        <RepositoriesTable collection=repositories.update />
    </div>
{{/if}}

